<a href="https://colab.research.google.com/github/GamerBhai02/innomatics_hackathon_pre/blob/main/Innomatics_Hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

orders = pd.read_csv("orders.csv")
orders.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name
0,1,2508,450,18-02-2023,842.97,New Foods Chinese
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian

In [2]:
users = pd.read_json("users.json")
users.head()

   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [3]:
import sqlite3

conn = sqlite3.connect(":memory:")

with open("restaurants.sql", "r") as f:
    sql_script = f.read()

conn.executescript(sql_script)

restaurants = pd.read_sql("SELECT * FROM restaurants", conn)
restaurants.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [4]:
orders_users = orders.merge(
    users,
    on="user_id",
    how="left"
)

In [5]:
final_df = orders_users.merge(
    restaurants,
    on="restaurant_id",
    how="left"
)

In [6]:
final_df.to_csv("final_food_delivery_dataset.csv", index=False)

In [7]:
final = pd.read_csv('final_food_delivery_dataset.csv')
final.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [8]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Filter only Gold members
gold_df = df[df["membership"] == "Gold"]

# Calculate total revenue by city
city_revenue = (
    gold_df.groupby("city")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print(city_revenue)

city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [9]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Calculate average order value by cuisine
avg_order_value = (
    df.groupby("cuisine")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

print(avg_order_value)

cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

In [10]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Calculate total order value per user
user_total = (
    df.groupby("user_id")["total_amount"]
    .sum()
)

# Count users with total order value > 1000
count_users = (user_total > 1000).sum()

print(count_users)

2544

In [11]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Create rating buckets
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ["3.03.5", "3.64.0", "4.14.5", "4.65.0"]

df["rating_range"] = pd.cut(df["rating"], bins=bins, labels=labels, include_lowest=True)

# Calculate total revenue by rating range
rating_revenue = (
    df.groupby("rating_range")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print(rating_revenue)

rating_range
4.65.0    2197030.75
3.03.5    2136772.70
4.14.5    1960326.26
3.64.0    1717494.41
Name: total_amount, dtype: float64

/tmp/ipython-input-1471187994.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("rating_range")["total_amount"]

In [12]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Filter only Gold members
gold_df = df[df["membership"] == "Gold"]

# Calculate average order value by city
avg_order_value_city = (
    gold_df.groupby("city")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

print(avg_order_value_city)

city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

In [13]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Calculate distinct restaurant count and total revenue per cuisine
cuisine_stats = (
    df.groupby("cuisine")
    .agg(
        distinct_restaurants=("restaurant_id", "nunique"),
        total_revenue=("total_amount", "sum")
    )
    .sort_values("distinct_restaurants")
)

print(cuisine_stats)

         distinct_restaurants  total_revenue
cuisine
Chinese                   120     1930504.65
Indian                    126     1971412.58
Italian                   126     2024203.80
Mexican                   128     2085503.09

In [14]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Total number of orders
total_orders = len(df)

# Number of orders placed by Gold members
gold_orders = len(df[df["membership"] == "Gold"])

# Calculate percentage
percentage = round((gold_orders / total_orders) * 100)

print(percentage)

50

In [17]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# MCQ options
options = [
    "Grand Cafe Punjabi",
    "Grand Restaurant South Indian",
    "Ruchi Mess Multicuisine",
    "Ruchi Foods Chinese"
]

# Calculate stats per restaurant
restaurant_stats = (
    df.groupby("restaurant_name_x")
    .agg(
        total_orders=("order_id", "count"),
        avg_order_value=("total_amount", "mean")
    )
)

# Filter:
# 1. Only the MCQ options
# 2. Less than 20 orders
filtered_options = restaurant_stats.loc[options]
filtered_options = filtered_options[filtered_options["total_orders"] < 20]

# Sort by highest average order value
result = filtered_options.sort_values("avg_order_value", ascending=False)

print(result)

                     total_orders  avg_order_value
restaurant_name_x
Ruchi Foods Chinese            19       686.603158

In [18]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Create combination revenue (membership + cuisine)
combo_revenue = (
    df.groupby(["membership", "cuisine"])["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print(combo_revenue)

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [19]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Convert order_date to datetime
df["order_date"] = pd.to_datetime(df["order_date"])

# Extract quarter
df["quarter"] = df["order_date"].dt.to_period("Q")

# Calculate total revenue per quarter
quarter_revenue = (
    df.groupby("quarter")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print(quarter_revenue)

quarter
2023Q3    2037385.10
2023Q4    2018263.66
2023Q1    1993425.14
2023Q2    1945348.72
2024Q1      17201.50
Freq: Q-DEC, Name: total_amount, dtype: float64

/tmp/ipython-input-3513261838.py:7: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["order_date"] = pd.to_datetime(df["order_date"])

In [20]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Count total orders placed by Gold members
gold_orders_count = df[df["membership"] == "Gold"].shape[0]

print(gold_orders_count)

4987

In [21]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Filter orders from Hyderabad
hyderabad_orders = df[df["city"] == "Hyderabad"]

# Calculate total revenue and round to nearest integer
total_revenue = round(hyderabad_orders["total_amount"].sum())

print(total_revenue)

1889367

In [22]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Count distinct users who placed at least one order
distinct_users = df["user_id"].nunique()

print(distinct_users)

2883

In [23]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Calculate average order value for Gold members
avg_order_value_gold = round(
    df[df["membership"] == "Gold"]["total_amount"].mean(), 2
)

print(avg_order_value_gold)

797.15

In [24]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Filter restaurants with rating >= 4.5
high_rating_orders = df[df["rating"] >= 4.5]

# Count number of orders
order_count = high_rating_orders.shape[0]

print(order_count)

3374

In [25]:
import pandas as pd

# Load final dataset
df = pd.read_csv("final_food_delivery_dataset.csv")

# Filter Gold members only
gold_df = df[df["membership"] == "Gold"]

# Find top revenue city among Gold members
top_city = (
    gold_df.groupby("city")["total_amount"]
    .sum()
    .idxmax()
)

# Count orders placed in that city by Gold members
orders_count = gold_df[gold_df["city"] == top_city].shape[0]

print("Top revenue city:", top_city)
print("Number of orders:", orders_count)

Top revenue city: Chennai
Number of orders: 1337

In [26]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")
print(len(df))

10000